<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="Tom" class="spring.training.Buoi_1.Pet">
        <property name="name" value="Tom"/>
        <property name="type" value="VN"/>
        <property name="age" value="10"/>
    </bean>

    <bean id="Jerry" class="spring.training.Buoi_1.Pet">
        <property name="name" value="Jerry"/>
        <property name="type" value="VN"/>
        <property name="age" value="10"/>
    </bean>

    <bean id="IOService" class="spring.training.Buoi_1.IOService">

    </bean>

    <bean id="Test" class="spring.training.Buoi_1.Test">
        <property name="ioService" ref="IOService"/>
    </bean>
</beans>